h1{
    font-size: 2em;
}
h2{
    font-size: 1.6em;
}
h3 {
    font-size: 1.4em;
}
h5{
    font-size: 1.1em;
    font-weight: bold;
}
#titlebar{
    background-color: lightsteelblue;
}
#specbar{
    background-color: lightgoldenrodyellow;
}

.checkgroup{
    /* background-color: lightgrey; */
    border-style: solid;
    
}
.checkgrouptitle{
    background-color: lightseagreen;
    text-align: center;
    vertical-align: middle;
}
    .checkgroupsubtitle{
        background-color: lightseagreen;
        writing-mode: vertical-lr ;
   }
.checkitemtitle{
    font-size: 1.1em;
    font-weight: bold;
}
.pola{
    background-color: lightblue;
}
.polb{
    background-color: lightyellow;
}
.polc{
    background-color: lightsalmon;
}
.header{
    border-style: double;
    border-color: black;
}
